.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

/node_modules/
/config/postgres.js
/config/path.js
/config/mail.js
/config/rsa.js

package-lock.json
database/temp.sql
